@use 'content-section';
@use 'driver-js-theme';
@use 'flag-icons';
@use 'game-board';
@use 'game-controls';
@use 'game-header';
@use 'game-stats';
@use 'global-styles';
@use 'media-queries';
@use 'modal';
@use 'navigation';
@use 'scores';