@use 'flag-icons';
@use 'fun-facts';
@use 'game-board';
@use 'game-controls';
@use 'game-header';
@use 'game-stats';
@use 'global-styles';
@use 'media-queries';
@use 'modal';
@use 'navigation';
@use 'privacy-policy';
@use 'scores';