/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 600px) {
    .game-container {
        padding: 0 20px 20px 20px;
        box-shadow: none;
        border: none;
    }

    .game-header {    
        .game-description {
            width: 80%;
        }
    }

    .game-board {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .game-controls {
        gap: 10px;
    }

    .card {
        font-size: 5em;
        min-height: 60px;
    }

    .game-title {
        font-size: 2em;
    }
}