/* Modal styles inspired by modal.html */
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.7px);
}

.modal-content {
    position: relative;
    background-color: var(--primary-color);
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.close-modal {
    background: none;
    border: none;
    color: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    opacity: .7;
}

.modal-content h2 {
    margin-top: 0;
    color: var(--secondary-color);
}

.modal-content p {
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content a {
    color: var(--secondary-color);
    position: relative;
    text-decoration: underline;
    transition: var(--transition);

    &:hover {
        opacity: .7;
    }
}

.modal-content select,
.modal-content input[type=text],
.modal-content input[type=email],
.modal-content input[type=password] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.modal-content label {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-size: 1em;
    text-align: start;
}

.modal-content textarea {

}

button,
.modal-content button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1rem;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
    }
}