.profile-header {
    display: flex;
    // align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    // h1 {
    //     font-size: 2rem;
    //     margin: 0;
    // }

    .profile-info {
        display: flex;
        flex-direction: column;

        select,
        input[type=text],
        input[type=email],
        input[type=password] {
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
        }
    
        label {
            font-weight: bold;
            margin-bottom: 10px;
            color: var(--secondary-color);
            font-size: 1em;
            text-align: start;
        }
    }

    
}

.avatar-section {
    display: grid;

    .avatar {
        background-color: var(--gray-color);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

}