.profile-header {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;

    .profile-info {
        display: flex;
        flex-direction: column;

        select,
        input[type=text],
        input[type=email],
        input[type=password] {
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
        }

        label {
            font-weight: bold;
            margin-bottom: 10px;
            color: var(--secondary-color);
            font-size: 1em;
            text-align: start;
        }
    }

    .avatar-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .avatar-container {
            position: relative;
            width: 150px;
            height: 150px;

            .avatar {
                background-color: var(--gray-color);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                border: 3px solid var(--secondary-color);
            }

            .edit-avatar-label {
                position: absolute;
                bottom: 5px;
                right: 5px;
                background-color: var(--secondary-color);
                color: white;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                z-index: 10;
                border: 2px solid white;

                &:hover {
                    transform: scale(1.1);
                    background-color: var(--gray-color);
                    filter: brightness(1.1);
                }

                // svg {
                //     width: 20px;
                //     height: 20px;
                // }
            }

            #avatar-upload {
                display: none;
            }
        }
    }
}