/* Styles for the scores page */
.scores-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

#high-scores-list {
    list-style-type: decimal;
    padding: 0;
    margin: 0;

    li {
        padding: 15px 0;
        border-bottom: 1px solid var(--secondary-color);
        display: flex;
        flex-direction: column;
        gap: 5px;

        &:last-child {
            border-bottom: none;
        }

        .player-name {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .score-details {
            font-size: 1rem;
        }

        .game-level {
            font-size: 1rem;
            text-transform: capitalize;
        }

        .player-country-flag {
            align-self: flex-start;

            .fi {
                width: 2.5rem;
                height: 1.5rem;
            }
        }
    }
}

#no-scores-container {
    text-align: center;
    padding: 20px;

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .btn-play-game {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        color: var(--primary-color);
        text-decoration: none;
        border-radius: 8px;
        font-size: 1.1rem;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--primary-color);
            border: 1px solid var(--secondary-color);
            color: var(--secondary-color);
        }
    }
}